<mat-card>
  <mat-card-title>{{card.title}}</mat-card-title>
  <mat-card-content>{{card.content}}</mat-card-content>
  <mat-card-footer>
    <div class="cardFooter">
      <div>
        Price: {{card.price}}$
      </div>
      <div>
        Level : {{card.level}}
      </div>
    </div>
    <div class="cardFooterControl">
      <button *ngIf="addDisable" (click)="toggleAddDisable()">
        <mat-icon>add</mat-icon>
      </button>
      <button *ngIf="!addDisable" (click)="toggleAddDisable()">
        <mat-icon>remove</mat-icon>
      </button>
    </div>
  </mat-card-footer>
</mat-card>
